<ion-view view-title="课文">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="text in texts" type="item-text-wrap" href="#/tab/texts/{{text.textId}}/{{text.textPart}}">
        <h2>{{text.textTitle}}</h2>
        <p>第{{text.textPart}}部分</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
